Dataset/Colored_MNIST_Bais
CrossDatasetTraining/data
CGAN/output.log
CGAN_CIFAR/data
# Ignore all image files
*.jpg
*.png
*.jpeg

# Ignore pycharm and system files
.DS_Store
*.idea
__pycache__
*.zip
*.gz
*.pth
# Ignore dataset files
*.csv

# Ignore checkpoints
 

# Ignore pickle files
*.pkl
 
*.log

CGAN_CIFAR/data/*
CGAN_CIFAR/ACGAN-PyTorch/samples/*
CGAN_CIFAR/ACGAN-PyTorch/weights/*